
.nav-item{
  transition: 1s; /* Время эффекта */
  text-align: center; 
  color: #00bfff; /* Цвет обычной ссылки */
    position: relative;
    cursor: pointer;
    text-decoration: none; 
}
.nav-item:hover {
  transform: scale(1.2); /* Увеличиваем масштаб */

}

.nav-item:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px; /* Высота линии */
    background-color: black; /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s; /* Время эффекта */
}


.nav-item:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px; /* Высота линии */
    background-color: rgb(208, 166, 41); /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s;  /* Время эффекта */
}
/*мои стили - Миля*/
body{
  position: relative;
  text-decoration: none;
  background-color: bisque;
}


.card-body {
  width: 400px;
  height: 500px;
}
.test {
  width: 70%;
  margin: 0 auto;
}

.map-container {
  width: 100%;
  height: 300px;
  
}
.container {
  position: absolute;
  opacity: .8;
  top: 130px;
  transition: 0.3s;
}

.container:hover {
  opacity: 1;
}

.map{
  margin-left: auto;
  margin-right: auto;
}

.map{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 100%;
  width: auto;
}
.carousel-item {
  min-height: 50Vh;
  width: 100%;

  background-image: url("https://cdn0.static1-sima-land.com/content/46171.jpg");
  background-position-y: -400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  position: sticky;
}

.main-map {
  width: 100%;
  height: 40vh;
  position: sticky;
  top: 0;
}
.form-label {
  color: white;
  font-size: 2rem;
}

.main-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.col-md-8 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.card-body {
  min-width: 30%;
  height: 70vh;
  background-color: aliceblue;
  padding: 0;
  padding: 10px;
}

.main-container {
  width: 80%;
  margin: 0 auto;
}

.unsplashImg {
  height: 80%;
  width: 88%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.info {
  margin: 10px 0 0 25px;
}

.card-title {
  color:rgb(33, 33, 160)
}

a {
  color: rgb(148, 148, 203);
}

.form-container {
  margin: 0 100px 0 100px;
}