<form name="createnewform form-container" class="createnewform">
  <div class="mb-3">
    <div style="width: 100vw;" class="d-flex justify-content-center mt-3">
      <div id="map" style="width: 155vh; height: 30vw"></div>
    </div>

    <div id="map" class="main-map"></div>

    <div class="mb-3 mt-3">
      <input
        name="title"
        type="text"
        class="form-control"
        id="exampleInputPassword1"
        placeholder="Введите название нового маршрута"
      />
    </div>
    <div  class="mb-3" style="margin:10px;">
  <input 
    name="location"
    type="text"
    class="form-control mb-3"
    id="exampleInputPassword1"
    placeholder="Введите локацию"
  />
    </div>
  <button type="submit" style="margin:10px;" class="btn btn-primary" onclick="window.location.href = 'http://localhost:3000/cycling-trips';">Добавить новый маршрут</button>

</form>
{{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js" integrity="sha512-BNaRQnYJYiPSqHHDb58B0yaPfCu+Wgds8Gp/gU33kqBtgNS4tSPHuGibyoeqMV/TJlSKda6FXzoEyYGjTe+vXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> --}}

<script defer src="/js/script2.js"></script>
