<form name="createnewform" class="createnewform">
  <div class="mb-3">

    <div id="map" style="width: 70vh; height: 30vw"></div>

    <div class="mb-3">
      <input
        name="title"
        type="text"
        class="form-control"
        id="exampleInputPassword1"
        placeholder="Введите название нового маршрута"
      />
    </div>
  <input
    name="location"
    type="text"
    class="form-control"
    id="exampleInputPassword1"
    placeholder="Введите локацию"
  />
  <button type="submit" class="btn btn-primary" onclick="window.location.href = 'http://localhost:3000/cycling-trips';">Добавить новый маршрут</button>

</form>
