<div class="card mb-3 container" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
    </div>
    23456789
    <div class="col-md-8">
  {{!-- {{#each allTrips}} --}}
      <div class="card-body">
        <div id="map" style="width: 27vw; height: 40vh"></div>
        <h5 class="card-title">Маршрут: {{this.title}}</h5>
        <p class="card-text">Автор маршрута: {{this.userName}}</p>
        <p class="card-text">Длина маршрута: {{this.length}}</p>
        <a href="/cycling-trips/{{routeName}}">Подробнее о маршруте</a>
        <p class="rating">(рейтинг)</p>
      </div>
    </div>
  {{!-- {{/each}} --}}
  </div>
</div>
