<div class="card mb-3 container test" style="max-width: 540px;">
 

    <div class="col-md-8" style="display:flex; gap: 20px">
       {{#each allTrips}}
      <div class="card-body test">
        <h5 class="card-title">Маршрут: {{this.title}}</h5>
        <div class="map-container">
            <div id="map" style="width: 400px; height: 300"></div>
        </div>
        <p class="card-text">Автор маршрута: {{this.userName}}</p>
        <p class="card-text">Длина маршрута: {{this.length}}</p>
        <a href="/cycling-trips/detalinformform">{{routeName}}">Подробнее о маршруте</a>
        <p class="rating">(рейтинг)</p>
      </div>
        {{/each}}
    </div>

</div>
