<form class="signin" action="/signin" method="post">
    <div class="mb-3">
    <label for="exampleInput" class="form-label">Логин</label>
    <input name="name" type="text" class="form-control" id="exampleInput">
    <div id="nameUser" class="form-text">Введите свой логин.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Пароль</label>
    <input name="pass" type="password" class="form-control" id="exampleInputPassword1">
    <div id="emailHelp" class="form-text">Введите свой пароль.</div>
  </div>
  <button type="submit" class="btn btn-primary">Войти</button>
</form>