<form class="signin container" action="/signin" method="post">
    <div class="mb-3">
    <label for="exampleInput" class="form-label">Email</label>
    <!--Миля-->
    <input name="email" type="text" class="form-control" id="exampleInput" placeholder="Введите свой email"> 
  </div>
  <div class="mb-3">
    <!--Миля-->
    <label for="exampleInputPassword1" class="form-label">Пароль</label>
    <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Введите свой пароль">
  </div>
  <button type="submit" class="btn btn-primary">Войти</button>
</form>