<form class="signup" action="/signup" method="post">
    <div class="mb-3">
    <label for="exampleInput" class="form-label">Имя</label>
    <input name="name" type="text" class="form-control" id="exampleInput">
    <div id="name" class="form-text">Введите свое имя.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Ваш email</label>
    <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">Введите свой почтовый адрес.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Пароль</label>
    <input name="password" type="password" class="form-control" id="exampleInputPassword1">
    <div id="emailHelp" class="form-text">Введите свой пароль.</div>
  </div>
  <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
  <div id="registr" class="form-text">Проверьте правильность введенных данных.</div>
</form>